$suggestWidth: 350px;
$heightImage: 180px;
$shadow: rgba(0, 0, 0, 0.2);
$backgroundBlur: rgba(0, 0, 0, 0.2);
$hoverBlueButton: #ecf2ff;
$messageHeight: 400px;

.wrapper {
   width: $suggestWidth;
   height: 774px;
}
.inner {
   display: flex;
   flex-direction: column;
   gap: 12px;
}

.suggest-group {
   position: relative;
}

.suggest-group,
.suggest-message {
   background-color: var(--white);
   border-radius: 12px;
   padding: 16px;
   font-size: 12px;
   color: var(--black-primary);
   font-weight: 500;
   &-heading {
      font-size: 14px;
      margin-bottom: 12px;
      font-weight: 600;
      color: var(--text-gray);
   }
}
.suggest-group-body {
   width: 100%;
}
.suggest-group-item {
   border-radius: 8px;
   border: 1px solid rgba(0, 0, 0, 0.15);
   margin-bottom: 4px;
   &-image {
      border-radius: 0 0 8px 8px;
      position: relative;
      display: flex;
      justify-content: center;
      img {
         border-radius: 8px 8px 0 0;
         height: $heightImage;
         width: 100%;
      }
      &__remove {
         display: flex;
         align-items: center;
         justify-content: center;
         right: 8px;
         top: 8px;
         width: 30px;
         height: 30px;
         border-radius: 999px;
         background-color: $backgroundBlur;
         position: absolute;
         cursor: pointer;
         color: var(--white);
         &:hover {
            background-color: rgba(0, 0, 0, 0.15);
         }
      }
   }
   &-body {
      width: 90%;
      margin: 0 auto;
      &__name {
         font-size: 16px;
         font-weight: 500;
         margin-top: 8px;
      }
      &__des {
         font-size: 12px;
         font-weight: 400;
         color: var(--text-gray);
         margin: 4px 0;
      }
      &__button {
         margin: 8px 0;

         display: flex;
         align-items: center;
         justify-content: center;
         text-transform: none;
      }
   }
}
.suggest-message {
   height: $messageHeight;
   overflow-y: overlay;
   &-heading {
      display: flex;
      justify-content: space-between;
   }
}

.suggest-message-list {
   &-item {
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 10px 8px;
      border-radius: 8px;
      cursor: pointer;
      &:hover {
         background-color: $hoverBlueButton;
      }
      &__name {
         font-size: 14px;
         font-weight: 500;
         color: var(--black-primary);
      }
      &__status {
         font-size: 12px;
         font-weight: 400;
         color: var(--text-gray);
         &__online,
         &__offline {
            display: flex;
            align-items: center;
            gap: 4px;
         }
      }
   }
}
