$default-layout-horizontal-spacer: 16px;
$default-layout-header-height: 16px;
.wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.container {
   width: var(--primary-width);
   max-width: 100%;
   padding: 0 $default-layout-horizontal-spacer;
   margin-top: calc(var(--desktop-nav-height) + 12px);
   display: flex;
   gap: 12px;
}

.content {
   flex: 1;
}
