.inner {
   position: relative;
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   height: 100vh;
}
.image-wrapper {
   width: 50%;
   background-color: bisque;
}
.content {
   width: 50%;
}
