$sibarWidth: var(--sibarWidth);
$hoverBlueButton: #ecf2ff;
$yellow: #ffbf00;
$red: #ff4154;
@media screen and (-webkit-min-device-pixel-ratio: 0) {
   .wrapper {
      background-color: rgba(0, 0, 0, 0);
      background-clip: text;
      /* uncomment following line to see the trick in actions */
      /* -webkit-text-fill-color: transparent; */
      transition: background-color 0.8s;
   }
   .wrapper:hover {
      background-color: rgba(0, 0, 0, 0.1);
   }
   .wrapper::-webkit-scrollbar {
      width: 8px;
      height: 8px;
   }
   .wrapper::-webkit-scrollbar-track {
      display: none;
   }
   .wrapper::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: inherit;
   }
}

.wrapper {
   width: $sibarWidth;
   height: 774px;
   overflow-y: overlay;
   overflow-x: hidden;
}
.inner {
   display: flex;
   flex-direction: column;
   gap: 12px;
}
.action-buttons,
.shortcuts,
.explore {
   background-color: var(--white);
   border-radius: 12px;
   padding: 16px;
   font-size: 12px;
   color: var(--black-primary);
   font-weight: 500;
   &-heading {
      font-size: 14px;
      margin-bottom: 12px;
      font-weight: 600;
      color: var(--text-gray);
   }
}
.action-buttons,
.shortcuts,
.explore {
   &-account,
   &-list-item {
      padding: 8px;
      display: flex;
      align-items: center;
      gap: 12px;
      cursor: pointer;
      font-weight: 500;
      color: var(--text-gray);
      border-radius: 12px;
      &:hover {
         color: var(--black-primary) !important;
         background-color: $hoverBlueButton;
      }
   }
   &-list {
      list-style: none;
      &-item {
         a {
            width: 100%;
            display: flex;
            align-items: center;
            color: var(--text-gray);
            gap: 12px;
         }
         &-icon {
            width: 30px;
            height: 30px;
            border-radius: 9999px;
            color: var(--white);
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--blue-primary);
         }
      }
   }
}

.shortcuts,
.explore {
   &-list {
      &-item {
         &-icon {
            background: rgb(0, 121, 211);
            background: linear-gradient(
               225deg,
               rgba(0, 121, 211, 1) 0%,
               rgba(255, 65, 84, 0.8) 52%,
               rgba(255, 191, 0, 1) 100%
            );
         }
      }
   }
}
