.wrapper {
   background-color: var(--white);
   margin-top: 12px;
   border-radius: 8px;
   padding: 16px;
}
.post-heading {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.post-heading-left {
   display: flex;
   &-des {
      display: flex;
      flex-direction: column;
      margin-left: 8px;

      &__name {
         font-size: 16px;
         font-weight: 600;
         cursor: pointer;
         color: var(--text-black);
         margin-bottom: 2px;
         width: fit-content;
      }
      &__time {
         font-size: 12px;
         font-weight: 400;
         color: var(--text-gray);
         &:hover {
            cursor: pointer;
            text-decoration: underline;
         }
      }
   }
}

.post-heading-right {
   &-dropdown {
      width: 100px;
   }
}
